html {
   font-family: sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   }
 

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.cart-section{
   display: flex;
   width: 100%;
   height: 100vh;
   align-items: center;
   justify-content: center;
}
.cart_main_div{
   width: 80%;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.headings{
   width: 100%;
   display: flex;
   align-items: center;
   padding-left: 1.5rem;
   padding-top: 1.5rem;
   justify-content: flex-start;
}
.headings h2{
   color: #969696;
   font-size: 1rem;
   font-weight: 600;
}
.div_product{
   width: 380px;
}
.div_quantity{
   width: 160px;
}
.list-product{
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   margin-right:18rem;
   /* height: 30rem; */
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 0.37rem;
   width: 80%;
}
.cproducts{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   padding-left: 1.5rem;
}
.detail a{
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin:5px;
}
.detail p{
   font-size: 12px;
   font-weight: 500;
   color: #646363;
   margin:5px;
 }
.cproduct-details img{
   width: 80px;
   height: 80px;
  
}

.cproduct-details{
   width: 380px;
   align-items: center;
   display: flex;
  
}
.cproduct-main{
   display: flex;
   align-items: center;

}
.cquantity{
   width: 160px;
}

.quantity{
   width: 100px;
   height: 30px; 
   align-items: center;
   display: flex;
   justify-content: space-between;
   border: 1px solid gainsboro;
   border-radius: 5px 5px 5px 5px;
}
.quantity button{
   width: 30px;
   height: 30px;
   border: 1px solid gainsboro;
   border-radius: 5px 5px 5px 5px;
}
.remove{
   width: 80px;
   height: 30px;
}
.price{
   width: 220px;
   color: #212529;
}

.pricing{
   width: 25%;
   position: fixed;
   right: 40px;
   top: 60px;
}
.mpricing{
   margin-top: 2rem;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 0.37rem;
   padding: 1.6rem;
   color: #545454;
}
.pricing .coupon{
   width: 100%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 0.37rem;
   padding: 1.6rem;
   color: #545454;
}
.coupon .coupon_input{
   display: flex;
   margin-top: 0.5rem;
   height: 40px;
   align-items: center;
   justify-content: center;
   color: #495057;
   background-color: #fff;
   border: 1px solid #ced4da;
   border-radius: 0.37rem;
}
.coupon_input input{
   font-weight: 400;
   height: 35px;
   outline: none;
   border:none;
   margin-left: 0.5rem;
   width: 100%;
   font-size: 1rem;
   line-height: 1.5;
}
.pricing-detail{
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.navigation{
   display: flex;
   border-top: 1px solid gainsboro;
   margin-top: 3rem;
   padding-left: 1.2rem;
   padding-right: 1rem;
   padding-bottom: 1.5rem; 
   justify-content: space-between;
}
.btn{
      display: inline-block;
      font-weight: 600;
      margin-top: 1rem;
      color: #545454;
      text-align: center;
      color: #fff;
      background-color: #3167eb;
      border: 1px solid transparent;
      padding: 0.45rem 0.85rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.37rem;
}
.btn1{
   display: inline-block;
   font-weight: 600;
   color: #545454;
   text-align: center;
   color: #fff;
   background-color: #3167eb;
   border: 1px solid transparent;
   padding: 0.45rem 0.85rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: 0.37rem;
}
